@charset "utf-8";
/* CSS Document */

@import url(./images/reset.css);
	#container{
		width:1002px;
		margin:0px auto;
	}
	#header{
		background-color:#CCC;
		background-image:url(images/top_bg.jpg);
		height:128px;
	}
	#nav li{
		float:left;
		width:90px;
		margin: 0px 0px 0px 1px;
		text-align:center;
		
	}
	#nav a{
		line-height:37px;
		font-size:16px;
		font-family:'微软雅黑','黑体';
		color:#363636;
		display:block;
		width:90px;
		height:37px;
		
	}
	
	#nav a:hover{
		color:#FFF;
		background:url(images/nav_on.gif);			
	}
	#lside{
		height:473px;
		width:694px;
		border:1px solid #EEE;
		float:left;
		border-top:none;
	}
	#rside{
		height:475px;
		width:294px;
		float:right;
	}
	
	#main{

	}
	.clr{
		clear:both;
		height:0px;
		width:0px;
	}
	.subtitle{
		height:37px;
		background:#999 url(images/index_main_top_bg.gif);
	}
	.subtitle img{
		margin:5px 0 0 10px;
		float:left;
	}
	.subtitle h1{
		float:left;
		font-size:16px;
		font-family:'微软雅黑','黑体',sans-serif;
		line-height:37px;
		
	}
	.subtitle a{
		float:right;
		color:#999;
		font-size:12px;
		line-height:37px;
	}
	.four{
		width:316px;
		height:198px;
		margin:15px 15px 0px 15px;
		float:left;
		background:#EEE ;

	}
	.four img{
		float:left;
		padding:5px;
		background:#FFF;
		margin:0px 5px 5px 5px;
	}
	.four ul{
		float:left;
		maigin:10px;
		background:#EEE;

	}
	.four h2{
		font-size:16px;
		font-family:'微软雅黑','黑体',sans-serif;
		margin:6px 0 5px 10px;
		color:#444;
	}
	.four li{
		background:url(images/service_intro_bg.gif) no-repeat;
		padding-left:10px;
		height:25px;
		line-height:25px;
	}
	.four a{
		color:#666;
		font-size:12px;
	}
	.four a:visited{
		color:#606060;
	}
	.four a:hover{
		color:#FF8324;
	}
	#art{
		background:#EEE;
		margin-top:1px;
		padding-top:10px;
	}
		
	#art li {
		height:29px;
		line-height:29px;
	}
	#art a{
		background:url(images/article_head.gif) no-repeat;
		display:block;
		height:29px;
		padding-left:25px;
		color:#777;
		font-size:12px;
		font-family:'微软雅黑','黑体',sans-serif;

	}
	#art a:hover{
		background:url(images/article_on_bg.gif);
		color:#FF8324;
	}
	#contact{
		background:#EEE;
		height:90px;
		width:274px;
		padding:20px 0 59px 20px;
		margin:1px 0px 0px;
	}
	#link{
		height:20px;
		margin-top:5px;
		background:#EEE;
	}
	#link li{
		float:left;
		margin-right:10px;
		height:20px;
		line-height:20px;

	}
	#link a{
		color:#444;
		font-size:12px;
		font-family:'微软雅黑','黑体',sans-serif;
	}
	
	#link a:visited{
		color:#333;
	}
	#link a:hover{
		color:#FF8324;
	}
	
	
	#footer address{
		color:#333;
		font-size:12px;
		font-family:'微软雅黑','黑体',sans-serif;
		margin-top:5px;
		background:#EEE;
	}
		
	#banner{
		margin:6px 0px;
	}
		
		
	

	